.adminmanage {
  border: 1px solid transparent;
  border-radius: 15px;
  margin: 30px;
  background-color: white;
}

.adminhead {
  font-family: "Switzer Medium";
  padding: 20px;
  font-size: 24px;
  line-height: 25px;
  color: #25282b;
}

.addmanagebuttons {
  display: flex;
  border-bottom: 1px solid #eeefff;
  margin: 35px 0px 0px 0px;
}

.adminbtns {
  width: 16rem;
  justify-content: center;
  align-items: center;
  line-height: 20px;
  padding-bottom: 5px;
}

.addadminform {
  width: 75%;
  gap: 1.5rem;
  display: grid;
  padding: 0px 20px 20px 20px;
  margin-top: 35px;
}

.manageadminform {
  width: 75%;
}

.addadminlabels {
  display: block;
  font-family: 'Switzer Medium';
  font-size: 16px;
  line-height: 24px;
  color: #25282b;
  margin-bottom: 5px;
}

.inputbox {
  display: block;
  width: 100%;
  padding: 10px 16px;
  border: 1px solid #eeefff;
  border-radius: 6px;
  outline: none;
}

.inputbox::placeholder {
  font-family: "Switzer Light";
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #acacac;
}

.submitbtn {
  width: 100%;
  padding: 8px 16px;
  font-family: 'Switzer SemiBold';
  font-size: 18px;
  line-height: 23.76px;
}

.toggle {
  width: 30px;
  /* height: 15px; */
}

.bar {
  width: 11px;
  height: 11px;
}

.translate-x-2 {
  transform: translateX(0.8rem);
}

.translate-x-0 {
  transform: translateX(-0.1rem);
}

.manageadminhead {
  background-color: #f6f6f6;
  height: 42px;
}

.admintablehaed {
  font-family: "Switzer Light";
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #acacac;
}

.adminnamecol {
  font-family: "Switzer Regular";
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  width: 35%;
}

.admindeletebtn {
  padding-right: 35%;
}
