.salestab {
  margin: 30px;
  border-radius: 15px;
}

.totalsaleshead {
  padding: 20px 0px 25px 15px;
  font-family: 'Switzer Medium';
  font-size: 24px;
  line-height: 31.68px;
  color: #25282B;
}

.yeartabs {
  padding-left: 15px;
}

.saleschart {
  margin: 20px 15px 20px 15px;
  border-radius: 8px;
  padding: 15px;
}

.salesanalytics {
  font-family: 'Switzer Regular';
  font-size: 16px;
  line-height: 21.12px;
  color: #25282B;
  padding: 15px 0px 25px 0px;
}