.sales {
  border: 1px solid #EEEFFF;
  border-radius: 15px;
  margin: 25px 30px 15px 30px;
  
}

.innerbox {
  border: 1px solid #EEEFFF;
  border-radius: 8px;
  background-color: white;
}

.totalsaleshead {
  font-family: "Switzer Light";
  font-weight: 600;
  font-size: 24px;
  line-height: 31.68px;
  color: #25282B;
  margin-bottom: 10px;
  padding: 20px;
}

.yearcategory {
  font-family: "Switzer Regular";
  font-weight: 500;
  font-size: 16px;
  line-height: 21.12px;
}

.yearcategory{
  margin: 0px 70px 0px 20px;
}

.border-btm {
  border-bottom-width: 3px;
}

.innerbox {
  margin: 20px;
}

.salesanalytics{
  padding: 30px 0px 0px 20px;
  font-family: "Switzer Regular";
  font-weight: 400;
  font-size: 16px;
  line-height: 21.12px;
  color: #25282B;
}