.mainsidebar {
  width: 256px;
  height: 100vh; /* Ensure the sidebar fills the height */
  overflow-y: auto; /* Enable scrolling */
  position: relative; /* To position the logo and divider correctly */
}

.sidebar-content {
  margin-top: 100px; /* Add space for the fixed logo and divider */
  padding-bottom: 20px; /* Ensure the content doesn't touch the bottom */
  height: 100%; /* Full height for the scrollable area */
}

.logo {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 116px;
  height: 40px;
  margin-top: 0; /* Remove any margin */
  z-index: 10;
}

.divider {
  position: fixed;
  top: 70px; /* Space for logo */
  left: 20px;
  width: 200px;
  margin-top: 25px;
  height: 0.5px;
  background-color: #e9e9e9;
  z-index: 10; /* Make sure the divider stays on top */
}

.divider2 {
  width: 80%;
  height: 0.5px;
  background-color: #e9e9e9;
  margin-top: 10px;
  margin-bottom: 30px;
  margin-left: 20px;
}

.sidebartab {
  margin: 25px 0px 0px 0px;
  gap: 10px 0px;
}

.sideicon {
  width: 16.5px;
  height: 16.5px;
}

.dashboardimg {
  filter: brightness(0) saturate(100%) invert(75%) sepia(0%) saturate(0%)
    hue-rotate(0deg) brightness(90%) contrast(95%);
}

.spans {
  font-family: "Switzer Light";
  font-weight: 500;
  font-size: 14px;
  line-height: 21.12px;
  color: #acacac;
}

.menu {
  margin-right: auto;
  padding: 10px 0px;
  transition: all 0.3s ease;
}

.item {
  display: flex;
  align-items: center;
  gap: 13px;
  margin-left: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.activestate:hover .sideicon {
  filter: brightness(0) saturate(100%) invert(15%) sepia(88%) saturate(2373%)
    hue-rotate(217deg) brightness(94%) contrast(98%);
}

.activestate.active .sideicon {
  filter: brightness(0) saturate(100%) invert(15%) sepia(88%) saturate(2373%)
    hue-rotate(217deg) brightness(94%) contrast(98%);
}

.activestate:hover .spans {
  color: #254396;
}

.activestate.active .spans {
  color: #254396;
  font-family: "Switzer Light";
  font-weight: 600;
}

.activestate.active {
  background-color: #eff6fe;
  border-radius: 0px 8px 8px 0px;
  padding: 10px 0px;
  width: 210px;
}

/* Dropdown menu */
.dropdown-menu {
  display: none; /* Hidden by default */
  padding-top: 5px;
  border-radius: 4px;
  transition: max-height 0.3s ease;
  max-height: 0;
  margin-top: -10px;
  overflow: hidden;
  padding-left: 10px;
}

.dropdown-menu.open {
  display: block;
  max-height: 200px; /* Adjust as needed */
  transition: max-height 0.5s ease-out;
  margin-right: auto;
  margin-left: 3rem;
}

.dropdown-item {
  font-family: "Switzer Light";
  font-weight: 400;
  font-size: 13px;
  padding: 8px 0;
  cursor: pointer;
  color: #acacac;
  transition: all 0.2s ease;
}

.menu:hover .dropdown-icon,
.menu.active .dropdown-icon {
  filter: brightness(0) saturate(100%) invert(15%) sepia(88%) saturate(2373%)
    hue-rotate(217deg) brightness(94%) contrast(98%);
}

.menu:hover .dropdown-icon.rotate,
.menu.active .dropdown-icon.rotate {
  transform: rotate(180deg);
}

.dropdown-item:hover {
  color: #007bff;
}

.dropdown-icon {
  transition: transform 0.3s ease;
}

.dropdown-icon.rotate {
  transform: rotate(180deg);
}

.footertext {
  font-family: "Switzer Light";
  font-weight: 400;
  font-size: 12px;
  line-height: 15.84px;
  color: #959595;
  margin-left: 20px;
  margin-top: 15px;
  margin-bottom: 5px;
}
