.mainsidebar {
  width: 257px;
  height: 100vh; /* Ensure the sidebar fills the height */
  overflow-y: auto; /* Enable scrolling */
  position: relative; /* To position the logo and divider correctly */
}

.sidebar-content {
  margin-top: 5px; /* Add space for the fixed logo and divider */
  padding-bottom: 20px; /* Ensure the content doesn't touch the bottom */
  height: 100%; /* Full height for the scrollable area */
}

.logo {
  width: 117px;
  height: auto;
  margin-top: 20px;
  z-index: 10;
  padding-bottom: 30px;
}

.logoclass {
  border-bottom: 1px solid #E9E9E9;
  margin-left: 20px;
  margin-right: 20px;
}

.sidebartab {
  margin: 25px 0px 0px 0px;
  gap: 11px;
}

.sideicon {
  width: 16.67px;
  height: 16.67px;
}

.dashboardimg {
  filter: brightness(0) saturate(100%) invert(75%) sepia(0%) saturate(0%)
    hue-rotate(0deg) brightness(90%) contrast(95%);
}

.spans {
  font-family: 'Switzer Light';
  font-size: 16px;
  line-height: 21.12px;
  color: #ACACAC;
}

.menu {
  margin-right: auto;
  padding: 10px 0px;
  transition: all 0.3s ease;
}

.item {
  display: flex;
  align-items: center;
  gap: 13px;
  margin-left: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.activestate:hover .sideicon {
  filter: brightness(0) saturate(100%) invert(15%) sepia(88%) saturate(2373%)
    hue-rotate(217deg) brightness(94%) contrast(98%);
}

.activestate.active .sideicon {
  filter: brightness(0) saturate(100%) invert(15%) sepia(88%) saturate(2373%)
    hue-rotate(217deg) brightness(94%) contrast(98%);
}

.activestate:hover .spans {
  color: #254396;
}

.activestate.active .spans {
  color: #254396;
  font-family: 'Switzer Medium';
}

.activestate.active {
  background-color: #eff6fe;
  border-radius: 0px 8px 8px 0px;
  height: 44px;
  width: 240px;
}

/* Dropdown menu */
.dropdown-menu {
  display: none; /* Hidden by default */
  padding-top: 5px;
  border-radius: 4px;
  transition: max-height 0.3s ease;
  max-height: 0;
  margin-top: -10px;
  overflow: hidden;
  padding-left: 10px;
}

.dropdown-menu.open {
  display: block;
  max-height: 200px; /* Adjust as needed */
  transition: max-height 0.5s ease-out;
  margin-right: auto;
  margin-left: 3rem;
}

.dropdown-item {
  font-family: 'Switzer Regular';
  font-size: 16px;
  padding: 8px 0;
  cursor: pointer;
  color: #acacac;
  transition: all 0.2s ease;
}

.menu:hover .dropdown-icon,
.menu.active .dropdown-icon {
  filter: brightness(0) saturate(100%) invert(15%) sepia(88%) saturate(2373%)
    hue-rotate(217deg) brightness(94%) contrast(98%);
}

.menu:hover .dropdown-icon.rotate,
.menu.active .dropdown-icon.rotate {
  transform: rotate(180deg);
}

.dropdown-item:hover {
  color: #007bff;
}

/* Active state for dropdown items */
.dropdown-item.active {
  font-family: 'Switzer Medium';
  color: #254396;
}


.dropdown-icon {
  transition: transform 0.3s ease;
}

.dropdown-icon.rotate {
  transform: rotate(180deg);
}

.footertext {
  font-family: 'Switzer Light';
  font-size: 12px;
  line-height: 15.84px;
  color: #959595;
  border-top: 1px solid #E9E9E9;
  margin-left: 20px;
  padding-top: 40px;
  margin-bottom: 5px;
}

.footerclass {
  margin-right: 20px;
}
