.maintab {
    border: 1px solid #EEEFFF;
    border-radius: 15px;
    background-color: #FBFBFB;
    margin: 30px 30px 0px 0px;
    height: 478.8px;
    overflow: auto;
    width: 44%;
}

.accountsummary{
    font-family: 'Switzer Medium';
    font-size: 24px;
    line-height: 31.68px;
    color: #25282B;
    text-align: start;
    padding: 20px 0px 20px 20px;
}

.incomebox {
    border: 1px solid #01B8E3;
    padding: 20px;
    border-radius: 10px;
  }

  .expensebox {
    border: 1px solid #01B8E3;
    padding: 20px;
    border-radius: 10px;
  }

  .reports {
    margin: 10px 20px 20px 20px;
  }

  .reporttext {
    font-family: 'Switzer Regular';
    font-size: 14px;
    line-height: 18.48px;
    color: #ACACAC;
  }

  .amount {
    font-family: 'Switzer Bold';
    font-size: 20px;
    line-height: 26.4px;
    color:#25282B;
    margin-top: 5px;
  }



  
  




  